{% extends "layout.html" %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Maybe you should try this feature
      </h1>
      <div class="govuk-panel__body">
        Set 'useViewVersioning' to 'true'
      </div>
    </div>
  </div>
</div>

{% endblock %}