{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      GOV.UK Prototype Kit
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}
    <h2 class="govuk-heading-m">With additional view versioning functionality and example.</h2>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What does it do?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>The functionality is turned on by setting 'useViewVersioning' in config.js to 'true'.</p>

        <p>Views then need to be kept in views/default. Views for a new version of a prototype are kept in views/v1, views/v2 etc. Only views that differ need including. A new version is then accessed by setting the 'v' parameter in the URL at the start of the new version.</p>

        <p>Links within views are always to the default version (eg. '/default/some-view'), and if the 'v' property has been set, the version-specific view will be prioritised over the default equivalent. The result is less views, less duplication, and hopefully a simplified routes file.</p>
      </div>
    </details>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a href="/default/start-page?v=0">Default</a>
        </dt>
        <dd class="govuk-summary-list__value">
          v=0
        </dd>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a href="/default/start-page?v=1">Version 1</a>
        </dt>
        <dd class="govuk-summary-list__value">
          v=1
        </dd>
        <dd class="govuk-summary-list__value">
          Different question page
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <a href="/default/start-page?v=2">Version 2</a>
        </dt>
        <dd class="govuk-summary-list__value">
          v=2
        </dd>
        <dd class="govuk-summary-list__value">
          Different start view
        </dd>
      </div>
    </dl>

  </div>
</div>

{% endblock %}